.status-1 {
	color: #adb5bd;
}
.status-2 {
	color: #fb6340;
}
.status-3 {
	color: #2dce89;
}
.status-4 {
	color: #f5365c;
}

.card .shadow {
	box-shadow: 0rem 0.25rem 0.375rem -0.0625rem rgb(0 0 0 / 10%),
		0rem 0.125rem 0.25rem -0.0625rem rgb(0 0 0 / 6%);
}

.sub-menu {
	border-radius: 10px;
	width: 100%;
	padding: 20px 10px;
}
